@use "../../Appearance/styles/appearance";
@use 'sass:list';

.platinumProgress {

  progress[value] {
    width: calc(100%);
    padding: 0 var(--window-padding-size);
    background: var(--color-system-03) !important;

    &::-webkit-progress-bar {
      background: var(--color-system-04);
      @include appearance.platinumWindowInnerBorder;
    }

    &::-webkit-progress-value {
      background: linear-gradient(
                      to bottom,
                      var(--color-theme-07),
                      var(--color-theme-06),
                      var(--color-theme-05),
                      var(--color-theme-04),
                      var(--color-theme-03),
                      var(--color-theme-02),
                      var(--color-theme-01),
                      var(--color-white),
                      var(--color-theme-01),
                      var(--color-theme-02),
                      var(--color-theme-03),
                      var(--color-theme-04),
                      var(--color-theme-05),
                      var(--color-theme-06),
                      var(--color-theme-07),
      ) !important;
    }
  }
}
