@use "../../Appearance/styles/appearance";
@use "../../Appearance/styles/assets";

.platinumInputGroup {
}

.platinumInputGroupColumns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: calc(var(--window-padding-size) * 2);
}

.platinumInputGroupLegend {
  font-family: var(--ui-font);
  font-size: calc(var(--ui-font-size) * .75);
  margin-top: calc(var(--ui-font-size) * -1);
}
