@use "../../Appearance/styles/appearance";
@use "../../Appearance/styles/assets";

.platinumControlGroup {
  columns: 1;
}

.platinumControlGroupColumns {
  flex-grow: 1;
  columns: 2;
}

.platinumControlGroupLegend {
  font-family: var(--ui-font);
  font-size: calc(var(--ui-font-size) * .75);
  margin-top: calc(var(--ui-font-size) * -1);
}
