@use "../../Appearance/styles/appearance";
@use "../../Appearance/styles/assets";

.platinumRadioInputGroup {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: stretch;
  padding: calc(var(--window-border-size) * 2) var(--window-border-size);
}

.platinumRadioInput {
  width: calc(var(--window-control-size) / 2);
  margin: calc(var(--window-border-size) * 2);
  border-width: calc(var(--window-control-size) / 3);
  border-style: solid;

  border-color: var(--color-system-03);
  border-radius: 50%;
  box-shadow: 0 0 0 calc(var(--window-border-size) * 1) var(--color-system-03),
  0 0 0 calc(var(--window-border-size) * 2) var(--color-system-05),
  0 0 0 calc(var(--window-border-size) * 3) var(--color-black),
  0 0 0 calc(var(--window-border-size) * 4) var(--color-system-05);

  appearance: none;

  &:checked, &:active {
    border-color: var(--color-theme-07);
  }

  &:active {
    box-shadow: 0 0 0 calc(var(--window-border-size) * 1) var(--color-system-05),
    0 0 0 calc(var(--window-border-size) * 2) var(--color-system-06),
    0 0 0 calc(var(--window-border-size) * 3) var(--color-black),
    0 0 0 calc(var(--window-border-size) * 4) var(--color-system-06);
  }

  &:disabled {
    border-color: var(--color-system-03);
    box-shadow: 0 0 0 calc(var(--window-border-size) * 2) var(--color-system-03),
    0 0 0 calc(var(--window-border-size) * 3) var(--color-system-05),
    0 0 0 calc(var(--window-border-size) * 4) var(--color-system-04);
  }

  &:disabled:checked {
    border-color: var(--color-system-05);
  }

  &:focus {
    outline: var(--color-outline) solid calc(var(--window-border-size) * 2) !important;
  }

}

.platinumRadioInputLabel {
  font-family: var(--ui-font);
  font-size: var(--ui-font-size);
  height: var(--window-control-size);
  margin-left: calc(var(--window-control-size) / 2);
}

.platinumRadioInputLabelDisabled {
  color: var(--color-system-05);
}

.platinumRadioInputDefault {
  @include appearance.platinumDepressableDefault;
}
