.platinumTextEditor {
  overflow: hidden;
  width: calc(100% - var(--window-padding-size));
  height: calc(100% - var(--window-padding-size));
  margin: 0;
  padding: 0;
  resize: none;
  border: none;
  outline: none;
}
