@use "../../Appearance/styles/appearance";

.platinumContextMenuWrapper {
  position: fixed;
  z-index: 900;
  display: inline-block;
  margin: 0;

  @include appearance.platinumWindowBoxShadow;
  padding: 0;
}
