:root {
    --color-black: #000;
    --color-white: #FFF;
    --color-alert: #ffFF00;
    --color-error: #ff0000;
    --color-system-01: #EEE;
    --color-system-02: #DDD;
    --color-system-03: #CCC;
    --color-system-04: #AAA;
    --color-system-05: #808080;
    --color-system-06: #393939;
    --color-system-07: #202020;
    --color-theme-01: #EEEEEE;
    --color-theme-02: #CCCCFF;
    --color-theme-03: #9999FF;
    --color-theme-04: #6666CC;
    --color-theme-05: #333399;
    --color-theme-06: #000088;
    --color-theme-07: #000055;
    --window-control-size: 12px;
    --window-border-size: 1px;
    --window-padding-size: 6px;
    --window-scrollbar-size: 20px;
    --desktop-icon-size: 48px;
    --desktop-icon-font-size: 12px;
    --header-font: "AppleGaramond", serif;
    --header-font-size: 22px;
    --body-font: "Geneva", serif;
    --body-font-size: 14px;
    --ui-font: "Charcoal", "ChicagoFLF", "Geneva", sans-serif;
    --ui-font-size: 14px;
    --color-window-border: #000;
    --color-window-border-outset: #FFF;
    --color-window-border-inset: #CCC;
    --color-window-frame: #CCC;
    --color-window-title: #000;
    --color-window-document: #FFF;
    --color-outline: #6666CC;
    --color-select: #DDD;
    --color-highlight: #AAA;
}
