@use "./styles/appearance";
@use "./styles/scrollbars";
@use 'sass:list';

.platinumDesktop {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  user-select: none;
  user-drag: none;
  cursor: default;
  background-color: var(--desktop-background-color);
  background-image: var(--desktop-background-image);
  background-position: var(--desktop-background-position);
  background-size: var(--desktop-background-size);
  background-repeat: var(--desktop-background-repeat);

  &, & * {
    @include scrollbars.scrollbars-themed(
                    var(--color-theme-02),
                    var(--color-theme-04),
                    var(--color-theme-03),
                    var(--color-theme-01),
                    var(--color-theme-05),
                    var(--color-theme-07),
                    var(--window-border-size),
                    var(--window-control-size),
                    var(--window-control-size)
    );
    accent-color: var(--color-theme-04);


    &:focus-visible {
      outline-color: var(--color-outline);
    }

    &::marker {
      color: var(--color-theme-02);
    }

    &:is(
    ::-webkit-calendar-picker-indicator,
    ::-webkit-clear-button,
    ::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button
  ) {
      color: var(--color-theme-02);
    }

  }
    *::selection {
      background: var(--color-theme-02) !important;
    }

}

.platinumDesktopSelect {
  position: absolute !important;
  border: var(--window-border-size) dotted var(--color-black);
}
