@use "../components/styles/appearance";
@use "../components/styles/assets";

.platinumInputGroup {
}

.platinumInputGroupLegend {
  font-family: var(--ui-font);
  font-size: calc(var(--ui-font-size) * .75);
  margin-top: calc(var(--ui-font-size) * -1);
}
