@use "./styles/assets";
@use "./styles/scrollbars";
@use "./styles/appearance";

.platinumWindowZoomed {
  top: 5% !important;
  left: 1% !important;
  width: calc(100% - (var(--window-padding-size) * 2 + (var(--window-control-size) * 2))) !important;
  height: calc(100% - (var(--window-padding-size) * 2 + (var(--window-control-size) * 4))) !important;
}

.platinumWindowCollapsed {
  height: calc(var(--window-control-size) + var(--window-padding-size) / 2) !important;
  min-height: calc(var(--window-control-size) + var(--window-padding-size) / 2) !important;
}


.platinumWindowInactive {
  z-index: unset;
  user-select: none;
  @include scrollbars.scrollbars-inactive();
}

.platinumWindowContentsDimmed {
  opacity: .8;
  filter: contrast(.9);
}

.platinumWindowActive {
  z-index: 300 !important;

  .platinumWindowTitleBar {
    user-select: none;

    .platinumWindowControlBox {
      opacity: 1 !important;
    }

    .platinumWindowTitle {
      .platinumWindowTitleText {
        color: black !important;
      }

      .platinumWindowTitleleft, .platinumWindowTitleright {
        background: assets.$title-bar-center;

        &:after {
          position: relative;
          top: -100%;
          right: calc(var(--window-padding-size) * -1);
          display: block;
          float: right;
          width: var(--window-padding-size);
          height: var(--window-control-size);
          content: ' ';
          background-image: assets.$title-bar-right;
          background-repeat: no-repeat;
          background-size: contain;
        }

        &:before {
          position: relative;
          left: calc((var(--window-padding-size) * -1) / 2);
          display: block;
          height: var(--window-control-size);
          content: ' ';
          background-image: assets.$title-bar-left;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }

    }
  }
}


.platinumWindowInvisible {
  display: none !important;
}

.platinumWindowNoScroll {
  overflow: hidden !important;
}

.platinumWindowResizing {
  border: calc(var(--window-padding-size) / 4) black dotted !important;
  background: transparent !important;
  box-shadow: none !important;

  .platinumWindowResizer {
    width: 20em !important;
    height: 20em !important;
    margin: -10em;
    cursor: grabbing !important;
  }

  * {
    opacity: 0;
  }
}

.platinumWindowDragging {
  border: calc(var(--window-padding-size) / 4) black dotted !important;
  background: transparent !important;
  box-shadow: none !important;

  * {
    cursor: grabbing;
    user-select: none;
    opacity: 0;
    user-drag: none;
  }

  .platinumWindowTitle {
    margin: -10em;
  }
}

.platinumWindow {
  position: absolute;
  z-index: 20;
  min-width: 250px;
  min-height: 200px;
  max-height: 95vh;
  padding: var(--window-padding-size);

  background-color: var(--color-window-frame);
  @include appearance.platinumWindowBorder;

  .platinumWindowTitleBar {
    font-family: var(--ui-font);
    position: relative;
    display: flex;
    flex-direction: row;
    height: calc(var(--window-control-size) + 3px);
    padding-bottom: var(--window-padding-size);
    text-align: center;
    border: none;
    box-shadow: none;
    column-gap: var(--window-padding-size);

    .platinumWindowIcon {
      max-width: var(--window-control-size);
      max-height: var(--window-control-size);
      margin-right: var(--window-padding-size);
      margin-left: var(--window-padding-size);

      img {
        width: 100%;
        margin: 2px auto;
        user-select: none;
        pointer-events: none;
      }
    }

    .platinumWindowTitle {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      text-align: center;

      .platinumWindowTitleText {
        font-size: var(--ui-font-size);
        overflow: hidden;
        height: 1.5em !important;
        cursor: default;
        user-select: none;
        color: grey;
        user-drag: none;
      }

      .platinumWindowTitleleft, .platinumWindowTitleright {
        flex-grow: 1;
        width: auto;
        height: var(--window-control-size);
        margin: calc(var(--window-padding-size) / 2) var(--window-padding-size);
        padding: 0;

      }


      span {
        font-size: var(--window-control-size);
        margin: 0;
        padding: 0;
        background: var(--color-window-frame) !important;
      }
    }

    .platinumWindowControlBox {
      @include appearance.platinumBoxShadow;
      padding: var(--window-border-size) 0 var(--window-border-size) var(--window-border-size);
      opacity: 0;
    }

    .platinumWindowCollapseBox, .platinumWindowZoomBox {
      @include appearance.platinumWindowControlBoxDepressable;
    }

    .platinumWindowCollapseBox {

      &:after {
        opacity: .65;
        background-image: assets.$collapse;
        background-position: top left;
      }
    }

    .platinumWindowZoomBox {
      &:after {
        opacity: .65;
        background-image: assets.$zoom;
        background-position: top left;
      }
    }

    .platinumWindowCloseBox {
      @include appearance.platinumWindowControlBoxDepressable;
    }

  }

  .platinumWindowResizer {
    position: absolute;
    right: calc(var(--window-padding-size) + var(--window-border-size) * 2);
    bottom: calc(var(--window-padding-size) + var(--window-border-size) * 2);
    width: calc(var(--window-padding-size) * 2 + var(--window-border-size) * 4);
    height: calc(var(--window-padding-size) * 2 + var(--window-border-size) * 4);
    cursor: grab;
    user-select: none;
    background-color: var(--color-system-03);
    background-image: assets.$resizer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: var(--window-control-size);
  }

  .platinumWindowContents {
    position: relative;
    display: block;
    @include appearance.platinumWindowInnerBorder;
    overflow: scroll !important;
    height: calc(100% - (var(--window-control-size) * 2));
    background-color: var(--color-window-document);
  }
}

.platinumWindowContentsModal {
  width: calc(100% - var(--window-padding-size) / 2);
  height: calc(100% - (var(--window-control-size) * 2) - var(--window-padding-size));
  margin: 0 !important;
  padding: calc(var(--window-padding-size) / 4) !important;
  border: none !important;
  @include appearance.platinumWindowBorder;
  border-top: calc(var(--window-padding-size) / 4) solid var(--color-black) !important;
  background-color: var(--color-window-frame) !important;
}

.platinumWindowContentsModalInner {
  padding: var(--window-padding-size);
}

.platinumWindowContentsInner {
  display: block;
  height: calc(100% - var(--window-padding-size) * 4);
}

.platinumWindowModal {
  margin: 0 !important;
  padding: 0;
}

.platinumWindowTitleBarModal {
  padding: var(--window-padding-size) calc(var(--window-padding-size) / 2) !important;
}
