@use "../components/styles/appearance";

.platinumButton {
  margin: calc(var(--window-padding-size));
  padding: calc(var(--window-padding-size) / 2) var(--window-padding-size);

  font-size: var(--ui-font-size);
  font-family: var(--ui-font);

  user-select: none;

  @include appearance.platinumWindowDepressable;

}

.platinumButtonDefault {
  @include appearance.platinumDepressableDefault;
}
