@use "./styles/appearance";
@use "./styles/assets";
@use "sass:list";

.platinumDesktopIcon {
  position: absolute;
  display: inline-block;
  z-index: 10 !important;
  user-select: none;
  text-align: center;
  max-width: calc(var(--desktop-icon-size) * 2);

  img {
    width: var(--desktop-icon-size);
    height: var(--desktop-icon-size);
    margin: auto;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
  }

  p {
    padding: calc(var(--desktop-icon-font-size) / 4) 0;
    margin-top: calc(var(--desktop-icon-font-size) / 4);
    background: rgba(255, 255, 255, .5);
    color: black;
    font-family: var(--ui-font), serif;
    font-size: var(--desktop-icon-font-size);
  }
}

.platinumDesktopIconDragging {
  z-index: 500 !important;
  user-select: none;
  padding: calc(var(--desktop-icon-size) * 4);
  margin: calc(var(--desktop-icon-size) * -4);
}

.platinumDesktopIconMask {
  width: calc(var(--desktop-icon-size) - var(--window-border-size) * 2);
  height: calc(var(--desktop-icon-size) - var(--window-border-size) * 2);
  margin: 0 auto;
  mask-mode: alpha !important;
  mask-size: calc(100% - var(--window-border-size)) !important;
  mask-repeat: no-repeat !important;
}

.platinumDesktopIconMaskOuter {
  width: calc(var(--desktop-icon-size) + var(--window-border-size));
  height: calc(var(--desktop-icon-size) + var(--window-border-size));
  margin: 0 auto;
  background: black !important;
  mask-mode: alpha !important;
  mask-size: cover !important;
  mask-repeat: no-repeat !important;
}

.platinumDesktopIconOpen {
  z-index: 99;

  .platinumDesktopIconMaskOuter {

    .platinumDesktopIconMask {
      backdrop-filter: grayscale(1) invert(1) brightness(1) !important;
      background-blend-mode: overlay;

      * {
        opacity: 0;
      }

    }
  }

}

.platinumDesktopIconActive {
  .platinumDesktopIconMaskOuter {
    img {
      filter: brightness(50%);
    }
  }

  p {
    background: rgba(0, 0, 0, .5);
    color: white;
  }
}

.platinumDesktopIconActiveAndOpen {
  z-index: 99;

  .platinumDesktopIconMaskOuter {
    background: black;
    filter: brightness(-5);

    .platinumDesktopIconMask {
      filter: brightness(50%);
      backdrop-filter: grayscale(1) invert(1) brightness(1) !important;

      * {
        opacity: 0;
      }

    }
  }

  p {
    background: rgba(0, 0, 0, .5);
    color: white;
  }

}

