@use 'sass:list';

@use "../../Appearance/styles/appearance";
@use "../../Appearance/styles/assets";

.platinumMenuWrapper {
  font-family: var(--ui-font);
  font-size: var(--ui-font-size);
  position: relative;
  z-index: 200;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: inset var(--window-border-size) var(--window-border-size) 0 0 var(--color-system-05), calc(var(--window-border-size) * 2) calc(var(--window-border-size) * 2) 0 0 var(--color-black);
}

.platinumMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: calc(var(--window-control-size) * 15);
  margin: 0;
  padding: var(--window-border-size);
  @include appearance.platinumWindowBorder;
  list-style: none;
  background-color: var(--color-system-02);

  hr {
    margin: calc(var(--window-control-size) / 2) calc(var(--window-border-size) * 2);
    border: var(--color-system-04) solid 1px;
    box-shadow: 1px 1px 0 0 var(--color-system-01);
  }

  div {
    ul {
      li {
        &:hover {
          color: #fff;
          background-color: var(--color-theme-04);

          * {
            display: flex !important;
          }

        }
      }
    }
  }
}

.platinumSubMenu {
  position: absolute;
  display: none;
  flex-direction: column;
  min-width: calc(var(--window-control-size) * 15);
  @include appearance.platinumWindowBorder;
  margin: 0 0 0 calc(var(--window-padding-size) * -1);;
  padding: var(--window-border-size);
  list-style: none;
  color: var(--color-black);
  background: var(--color-system-02);
  background-color: var(--color-system-02);

  hr {
    margin: calc(var(--window-control-size) / 2) calc(var(--window-border-size) * 2);
    border: var(--color-system-04) solid 1px;
    box-shadow: 1px 1px 0 0 var(--color-system-01);
  }

}

.platinumContextSubMenu {
  position: absolute;
  left: 100%;
  display: none;
  flex-direction: column;
  min-width: calc(var(--window-control-size) * 15);
  @include appearance.platinumWindowBorder;
  margin: calc(var(--window-padding-size) * -4) calc(var(--window-padding-size) * -2);
  padding: var(--window-border-size);
  list-style: none;
  color: var(--color-black);
  background: var(--color-system-02);
  background-color: var(--color-system-02);

  hr {
    margin: calc(var(--window-control-size) / 2) calc(var(--window-border-size) * 2);
    border: var(--color-system-04) solid 1px;
    box-shadow: 1px 1px 0 0 var(--color-system-01);
  }

}


.platinumMenuItem {
  display: flex;
  float: left;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: calc(100% - var(--window-padding-size)) !important;
  margin: 0;
  padding: calc(var(--window-padding-size) / 2) var(--window-padding-size);

  &:hover {
    color: var(--color-white);
    background-color: var(--color-theme-04);

    ul {
      display: flex !important;
    }
  }


  img {
    width: calc(var(--window-control-size) * 1.25);
    height: calc(var(--window-control-size) * 1.25);
    margin-right: calc(var(--window-control-size) * .5);
    user-select: none;
    user-drag: none;
  }

  p {
    display: flex;
    float: left;
    align-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;

    a {
      cursor: default !important;
      text-decoration: none;
      color: var(--color-black) !important;
    }
  }


}

.platinumMenuItemNoImage {
  p {
    padding-left: calc(var(--window-control-size) * 1.75) !important;
  }
}

.platinumMenuItemDisabled {
  &:hover {
    color: var(--color-white);
    background-color: transparent !important;
  }

  p {
    color: var(--color-system-05);
  }

}

.platinumMenuItemChildMenuIndicator {
  &:after {
    position: absolute;
    right: var(--window-control-size);
    width: 1em;
    height: 1em;
    content: " ";
    background-image: assets.$triangle;
    background-repeat: no-repeat;
    background-position: right center;
  }
}

.platinumMenuItemKeyboardShortcut {
  font-size: calc(var(--ui-font-size) * .75) !important;
  line-height: 1.75;
  padding-right: calc(var(--window-padding-size) / 2) !important;
}
