@use "../../Appearance/styles/appearance";

.platinumDisclosure {
}

.platinumDisclosureHeader {
  display: flex;
  flex-direction: row;
  padding: calc(var(--window-padding-size) * 2) 0;
}

.platinumDisclosureInner {
}

.platinumDisclosureInnerOpen {
  display: block;
  height: 100%;
}

.platinumDisclosureInnerClose {
  display: none;
  height: 0;
  opacity: 0;
}

.platinumDisclosureTriangle {
  width: calc(var(--window-control-size) + var(--window-padding-size));
  height: calc(var(--window-control-size) + var(--window-padding-size));
  transition-timing-function: steps(4, end);
  transition-duration: .125s;
  transition-property: all;
}

.platinumDisclosureTriangleHighlight {
  fill: var(--color-theme-02);
}

.platinumDisclosureTriangleShadow {
  fill: var(--color-theme-04);
}

.platinumDisclosureTriangleInner {
  fill: var(--color-theme-03);
}

.platinumDisclosureTriangleDropShadow {
  opacity: .33;
  color: var(--color-black);
}

.platinumDisclosureTriangleOutline {
  color: var(--color-black);
}

.platinumDisclosureTriangleRightOpen {
  transform: rotate(90deg);
}

.platinumDisclosureTriangleRightClosed {
  transform: rotate(0);
}

.platinumDisclosureTriangleLeftOpen {
  transform: rotate(90deg);
}

.platinumDisclosureTriangleLeftClosed {
  transform: rotate(180deg);
}

.platinumDisclosureTriangleUpOpen {
  transform: rotate(90deg);
}

.platinumDisclosureTriangleUpClosed {
  transform: rotate(270deg);
}

.platinumDisclosureTriangleDownClosed {
  transform: rotate(90deg);
}

.platinumDisclosureTriangleDownOpen {
  transform: rotate(270deg);
}
