.platinumControlLabel {
  font-family: var(--ui-font);
  font-size: var(--ui-font-size);
  height: var(--window-control-size);
  user-select: none;
}

.platinumControlLabelDisabled {
  color: var(--color-system-05);
}

.platinumControlLabelLeft {
  margin-left: calc(var(--window-control-size) / 2);
}

.platinumControlLabelRight {
  margin-right: calc(var(--window-control-size) / 2);
}
