@use "../../Appearance/styles/appearance";

.platinumInputCheckboxGroup {
  padding: calc(var(--window-border-size) * 2);
}

.platinumInputCheckbox {
  width: calc(var(--window-control-size));
  height: var(--window-control-size);
  margin: var(--window-border-size);
  border-radius: 0;
  @include appearance.platinumWindowBorder;
  background: var(--color-system-03);
  appearance: none;

  &:checked {
    &:after {
      font-family: var(--ui-font);
      font-size: calc(var(--ui-font-size) * 1.25);
      line-height: calc(var(--ui-font-size) * .65);
      display: flex;
      justify-content: center;
      content: "\00D7";
      text-shadow: var(--color-system-05) 1px 1px 2px;
    }
  }

  &:disabled:checked {
    color: var(--color-system-05);
  }

  &:active {
    @include appearance.platinumDepressableBoxShadowActive;
    background: black;
  }

  &:focus {
    border-radius: 1px;
    outline: var(--color-outline) solid calc(var(--window-border-size) * 2) !important;
  }

  &:disabled, &:disabled:active {
    border: var(--window-border-size) solid var(--color-system-06) !important;
    background: transparent;
    box-shadow: none;
  }


}

.platinumInputCheckboxLabel {
  font-family: var(--ui-font);
  font-size: var(--ui-font-size);
  height: var(--window-control-size);
  margin-left: calc(var(--window-control-size) / 2);
}

.platinumInputCheckboxLabelDisabled {
  color: var(--color-system-05);
}

.platinumInputCheckboxDefault {
  &:checked, &:active {
    &:after {
      font-family: var(--ui-font);
      font-size: calc(var(--ui-font-size) * 1);
      line-height: calc(var(--ui-font-size) * .75);
      display: flex;
      justify-content: center;
      content: "\2713";
      text-shadow: var(--color-system-05) 1px 1px 2px;
    }
  }
}

.platinumInputCheckboxMixed {
  &:checked {
    &:after {
      font-family: var(--ui-font);
      font-size: calc(var(--ui-font-size) * 1);
      line-height: calc(var(--ui-font-size) * .75);
      display: flex;
      justify-content: center;
      content: "-";
      text-shadow: var(--color-system-05) 1px 1px 2px;
    }
  }
}
